/* __________________ Reset styles __________________ */
* { margin: 0; padding: 0; border: 0; font-size: 100%; color: inherit; box-sizing: border-box; line-height: inherit; }

/* __________________ Tags __________________ */
@media (min-width: 1025px) { ::-webkit-scrollbar { width: 10px; }
  ::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4); }
  ::-webkit-scrollbar-thumb { background-image: linear-gradient(180deg, #610052 0%, #c700a8 99%); box-shadow: inset 2px 2px 10px 0 rgba(0, 0, 0, 0.5); }
  html.discroll { padding-right: 10px; } }

html { max-width: 100vw; scroll-behavior: unset; position: relative; font-smooth: antialiased; -webkit-font-smoothing: antialiased; font-size: 18px; line-height: 30px; line-height: 30px; font-family: "Rounded Mplus 1c", sans-serif; }

html.discroll body { overflow: hidden; }

body { width: 100%; height: 100%; position: relative; z-index: 1; }

section { position: relative; z-index: 5; max-width: 100vw; overflow: hidden; }

li, span, a { display: inline-block; }

a { text-decoration: none; transition: all 0.3s ease; }

svg { transition: fill 0.3s ease; }

button { -moz-appearance: none; -webkit-appearance: none; appearance: none; background: none; text-align: center; cursor: pointer; outline: none; transition: all 0.3s ease; }

/* __________________ Clssses __________________ */
.wrapper { width: 77%; margin: 0 auto; position: relative; z-index: 5; }

.loading { position: relative; opacity: 0; visibility: hidden; }

@font-face { font-family: 'Rounded Mplus 1c'; src: url("../fonts/RoundedMplus1c-Medium.woff"); font-weight: 500; font-style: normal; font-display: swap; }

@font-face { font-family: 'Rounded Mplus 1c'; src: url("../fonts/RoundedMplus1c-Regular.woff"); font-weight: 400; font-style: normal; font-display: swap; }

@font-face { font-family: 'FuturaBookC'; src: url("../fonts/FuturaBookC.woff"); font-weight: 400; font-style: normal; font-display: swap; }

#overlay { position: fixed; z-index: 1000; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100vh; background-color: rgba(255, 255, 255, 0.9); cursor: pointer; transition: all 0.4s ease; opacity: 0; visibility: hidden; }

#overlay.active { opacity: 1; visibility: visible; }

#main_header { position: absolute; z-index: 3000; top: 0; left: 0; width: 100%; padding: 40px; }

#main_header #expand_mobile_menu { width: 36px; height: 32px; position: relative; }

#main_header #expand_mobile_menu svg { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; height: auto; transition: all 0.4s ease; }

#main_header #expand_mobile_menu:hover svg { fill: #FF61E6; }

#main_header #expand_mobile_menu .hamb { fill: #ffffff; }

#main_header #expand_mobile_menu .close { fill: #000000; opacity: 0; visibility: hidden; }

#main_header #expand_mobile_menu.active .hamb { opacity: 0; visibility: hidden; }

#main_header #expand_mobile_menu.active .close { opacity: 1; visibility: visible; }

#mobile_header { position: absolute; z-index: 2000; top: 105px; right: 0; width: 100%; transition: all 0.4s ease; opacity: 0; visibility: hidden; }

#mobile_header.active { opacity: 1; visibility: visible; }

#mobile_header .wrapper { width: 65%; }

#mobile_header li { display: block; }

#mobile_header a:hover { color: #FF61E6; }

#mobile_header .main_links li a { font-weight: 500; }

#mobile_header .sublinks { margin-top: 7px; }

#mobile_header .sublinks li a { font-size: 16px; font-family: "FuturaBookC", sans-serif; }

section.banner_main { position: relative; height: 56vw; max-height: 810px; }

section.banner_main .slider { overflow: hidden; transition: all 0.5s ease-in; }

section.banner_main .slide { display: inline-block; width: 100%; height: 56vw; max-height: 810px; position: relative; overflow: hidden; }

section.banner_main .slide img { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; height: auto; min-height: 100%; }

section.banner_main .slider_nav { position: absolute; z-index: 10; padding: 24px 0; bottom: 0; left: 0; width: 100%; }

section.banner_main .slick-dots { display: flex; justify-content: center; align-items: center; gap: 24px; }

section.banner_main .slick-dots li { font-size: 0; line-height: 0; }

section.banner_main .slick-dots li button { color: #00000000; background-color: #ffffff; border-radius: 50%; width: 10.43px; height: 10.43px; }

section.banner_main .slick-dots li.slick-active button { background-color: #FF61E6; }

section.banner_main .slick-dots li:hover button { background-color: rgba(255, 97, 230, 0.5); }

section.products { padding: 60px 0 114px; }

section.products .info { max-width: 680px; }

section.products .info h3 { font-size: 28px; font-weight: 500; line-height: 41px; }

section.products .info .text { margin-top: 8px; max-height: 500px; overflow: hidden; }

section.products .info .text.wrapped_text { max-height: 60px; }

section.products .info .text p { font-size: 18px; }

section.products .info .text p:not(:first-child) { margin-top: 12px; }

section.products .info .toggle_text { direction: ltr; margin-top: 15px; text-transform: uppercase; font-size: 12px; font-weight: 500; display: flex; align-items: center; gap: 6px; }

section.products .info .toggle_text svg { transition: all 0.4s ease; fill: #FF61E6; }

section.products .info .toggle_text:hover { color: #FF61E6; }

section.products .info .toggle_text.active svg { transform: rotate(-180deg); }

section.products .product_wrapper { margin-top: 45px; transition: all 0.4s linear; }

section.products .cards { display: flex; flex-wrap: wrap; gap: 98px; }

section.products .cards.loading_products { min-height: 400px; min-width: 100%; opacity: 0.5; pointer-events: none; }

section.products .no_products { width: 100%; text-align: center; padding: 30px 0; font-size: 20px; direction: ltr; }

section.products .card { width: calc( 100% / 5 - 66px); display: inline-flex; flex-direction: column; }

section.products .card:hover .thumb img { transform: translate(-50%, -50%) scale(1.05); filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.1)); }

section.products .card:hover .name { color: #FF61E6; }

section.products .card .thumb { height: 277px; overflow: hidden; position: relative; }

section.products .card .thumb img { width: auto; height: auto; max-height: 95%; max-width: 95%; position: absolute; left: 50%; top: 50%; transition: all 0.25s ease; transform: translate(-50%, -50%); }

section.products .card .name { margin-top: 10px; font-size: 16px; font-weight: 400; font-family: "FuturaBookC", sans-serif; text-align: center; transition: all 0.25s ease; }

section.products .card .attributes { display: flex; align-items: center; justify-content: space-between; margin-bottom: 18px; }

section.products .card .price { font-size: 0; }

section.products .card .price span { font-size: 16px; font-weight: 500; }

section.products .card .quantity { font-size: 0; }

section.products .card .quantity span { font-size: 16px; font-weight: 500; color: rgba(0, 0, 0, 0.5); }

section.products .card .quick_review { width: 90%; margin: auto auto 0; justify-self: flex-end; padding: 8px 0; font-weight: 500; font-size: 16px; text-align: center; border: 1px solid #000000; }

section.products .card .quick_review:hover { border-color: #FF61E6; color: #FF61E6; }

@media (max-width: 1600px) { section.products .card { width: calc( 100% / 4 - 66px); } }

@media (max-width: 1440px) { section.products .card { width: calc( 100% / 3 - 66px); } }

@media (max-width: 1024px) { section.products .cards { gap: 30px 60px; }
  section.products .card { width: calc( 100% / 2 - 30px); } }

@media (max-width: 768px) { .wrapper { width: 85%; }
  #main_header { padding: 25px 0; }
  #main_header #expand_mobile_menu .hamb { width: 36px; height: 30px; }
  #main_header #expand_mobile_menu .close { width: 20px; height: 20px; }
  section.banner_main .slick-dots { gap: 20px; }
  section.banner_main .slick-dots li button { width: 8.35px; height: 8.35px; }
  section.products { padding-bottom: 60px; }
  section.products .product_wrapper { margin-top: 10px; }
  section.products .cards { gap: 32px 20px; }
  section.products .card { width: calc( 100% / 2 - 20px); } }

@media (max-width: 600px) { section.products .cards { justify-content: center; }
  section.products .card { width: 100%; max-width: 350px; } }

@media (max-width: 480px) { section.banner_main { height: 77vw; }
  section.banner_main .slide { height: 77vw; } }
